button {
    font-size: 25px;
}

#users ul  {
    list-style: none;
    margin: 0;
    padding: 0;
}

#users ul li {
    border: black 1px solid;
    padding: 10px;
    background-color: wheat;
    margin: 10px;
    font-size: 20px;
}